@import url('https://fonts.googleapis.com/css2?family=Roboto:400&display=swap');

body
{   background: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0; }

main
{   padding: 16px; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }

.grid-item {
    border: 0px;
    padding: 20px; }

.grid-item h3 {
    margin-top: 0; }

.grid-item img {
    max-width: 200px; }

.grid-item p {
    margin-bottom: 0; }

tbody .comment:nth-child(even) {
    background-color: #cccccc; }

footer
{   padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 32px;
    padding-right: 0px;
    border-top: 1px solid rgb(255, 255, 255);
    text-align: justify;
    background-color: rgb(165, 207, 101);
    color: #000000;
    margin: 0px; }

nav
{   padding: 16px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: orangered; }

#nav {
    color: #ffffff;
    font-weight: bold; }

h1 {
    color: green; }
a
{   color: green;
    font-weight: none;
    text-decoration: none;
    text-transform:none; }

a:link
{   color: green;
    font-weight: none;
    text-decoration: none;
    text-transform:none; }

a:active
{   color: green;
    font-weight: none;
    text-decoration: none;
    text-transform:none; }

a:visited
{   color: green;
    font-weight: none;
    text-decoration: none;
    text-transform:none; }

a:hover
{   color:green;
    font-weight: none;
    text-transform:none; }
